#profile-card {
  display: none;
  width: 40%;
  max-height: 500px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 150px;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(to bottom, black, #111);
  transition: background 0.5s ease;
  text-align: center;
  position: inherit;
}

#profile-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px; /* Adjust border-radius to match the card */
  border: 2px solid white; /* Remove border from the right side */
}

#profile-card > div {
  display: flex;
  flex-direction: column;
  padding: 8px; /* Add padding to the content */
}

#profile-card h1 {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Motiva Sans';
  font-weight: lighter;
  -webkit-text-stroke: 0 black;
}

#profile-card ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 3px;
}

#profile-card ul li {
  margin-right: 2px;
}

#profile-card ul li img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border: 1px solid white;
}
